{% extends "base_secondary.html" %}

{% block content %}
<!-- another idea -->
<!-- array (month) of arrays (weeks), whose innards are days. -->
<table>
{% for week in rendercalendar %}
    <tr>
    {% for day in week %}
        <td>{{ day }}
        {% for event in events %}
        {% if event.date.month == month and event.date.day == day %}
           {{ events.title }}
        {% endif %}
        {% endfor %}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
    
{% endblock content%}
