{% extends "base.html" %}

{% block content %}
<!-- Navbar below header, grid layout for content -->
    <div id="splash">
      <h1 id="site-title">ST JOHN'S SODUS</h1>
    </div>
   <div id="content-container">
    <nav>
      <ul>
        <li><a href="{% url 'blog' %}">BLOG</a></li>
        <li><a href="{% url 'calendar' %}">CALENDAR</a></li>
        <li><a href="{% url 'announcements' %}">ANNOUNCEMENTS</a></li>
        <li><a href="{% url 'contact' %}">CONTACT</a></li>
      </ul>
    </nav>
    <div class="grid-container">
      <div class="about">
        <h3>ABOUT</h3>
          <p>{{ about.body }}</p>
      </div>
      <div class="announcements">
        <h3>ANNOUNCEMENTS</h3>
        <ul>
        {% for announcement in announcements %}
          <li>
             <h5><a href="{% url 'announcementdetail' announcement.id %}">{{ announcement.title }}</a> &mdash; {{ announcement.date }}</h5>
             <p>{{ announcement.body }}</p>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="calendar">
        <h3>CALENDAR</h3>
        <ul>
          {% for event in events %}
          <li>
             <h5><a href="{% url 'eventdetail' event.id %}">{{ event.title }}</a> &mdash; {{ event.date }}</h5>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="blog">
        <h3>BLOG</h3>
        <ul>
          {% for blogentry in blog %}
          <li>
             <h5><a href="{% url 'blogdetail' blogentry.id %}">{{ blogentry.title }}</a> &mdash; {{ blogentry.date }}</h5>
             <p>{{ blogentry.body }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="listsignup">
        <h3>EMAIL LIST SIGNUP</h3>
        <p></p>
      </div>
    <footer></footer>
   </div>
{% endblock content %}
