{% extends "base.html" %}

{% block content %}
<!-- Navbar below header, grid layout for content -->
    <div id="splash" style="background-image: {{ splashimage.image.url }} ">
      <h1 id="site-title">ST JOHN'S SODUS</h1>
    </div>
   <div id="content-container">
    <nav>
      <ul>
        <li><a href="/blog/">BLOG</a></li>
        <li class="separator">|</li>
        <li><a href="/calendar/">CALENDAR</a></li>
        <li class="separator">|</li>
        <li><a href="/announcements/">ANNOUNCEMENTS</a></li>
        <li class="separator">|</li>
        <li><a href="/contact/">CONTACT</a></li>
      </ul>
    </nav>
    <div class="grid-container">
      <div class="about">
        <h3>ABOUT</h3>
          <p>{{ about.body }}</p>
      </div>
      <div class="announcements">
        <h3><a href="/announcements/">ANNOUNCEMENTS</a></h3>
        <ul>
          {% for announcement in announcements %}
          <li>
            <h5><a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.title }}<span class="separator"> &mdash; </span>{{ announcement.date }}</a></h5>
            <p>{{ announcement.body }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="calendar">
        <h3><a href="/calendar/">EVENTS</a></h3>
        <ul>
          {% for event in events %}
          <li>
            <h5><a href="{% url 'calendar_detail' event.id %}">{{ event.title }}<span class="separator"> &mdash; </span>{{ event.date }}</a></h5>
            <p>{{ event.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="blog">
        <h3><a href="/blog/">BLOG</a></h3>
        <ul>
          {% for blogentry in blog %}
          <li>
            <h5><a href="{% url 'blog_detail' blogentry.id %}">{{ blogentry.title }}<span class="separator"> &mdash; </span>{{ blogentry.date }}</a></h5>
            <p>{{ blogentry.body|linebreaks }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="listsignup">
        <h3>EMAIL LIST SIGNUP</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">&rarr;</button>
          </form>
      </div>
    <footer></footer>
   </div>
<script>
	var errors = document.getElementsByClassName("errorlist");
	for(i = 0; i < errors.length; i++){
	    alert(errors[i].innerText);
	}
	</script>
	{% endblock content %}
