@import url('https://fonts.googleapis.com/css?family=Anton|Crimson+Text|Fira+Sans:100,400|Muli|Nunito|Playfair+Display:400,700');

html {}

body {
	/* background-color: #e4f3f3; */
}

p, li {
	font-family: 'Muli', sans-serif;
	line-height: 24px;
	font-size: 12pt;
}

h1, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

h3 {
	font-size: 20pt;
}

h5 {
	font-family: 'Muli', sans-serif;
	font-weight: 800;
	font-size: 14pt;
}

#container {
	margin: -2vh -0.42vw -2vh -0.42vw;
	/* padding: 0 22px 0 22px; */
	background-image: url('static/site-background.jpeg');
	background-size: cover;
}

#content-container {
	margin: 0;
	background-color: rgba(255, 255, 255, 0.4);
}

#splash {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0;	
}

h1#site-title {
	display: inline-block;
	font-size: 12vh;
	letter-spacing: .4vw;
	color: white;
}

ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	margin: 0 1% 0 1%;
	display: inline;
}
.grid-container {
	height: 100%;
	display: grid;
	grid-template-areas:
		'announcements calendar calendar'
		'blog blog listsignup';
	grid-gap: 6vh;
	padding: 0 6vw 0 6vw;
}
	
.grid-container div {
	padding: 0 6vh 0 6vh;
	margin: 0 3vh 0 3vh;
	background-color: rgba(232, 235, 239, 0.5);
}

div.about {
	margin: 0 0 5vh 0;
	padding: 0.005vh 25vw 0.5vh 25vw;
	text-align: center;
	background-color: rgba(232, 235, 239, 0.5);
}

.arrow {
	width: 60px;
	height: 50px;		
}

.arrow path {
	stroke: black;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}

@-webkit-keyframes arrow {
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; 
} 

div.about p {
	font-size: 14pt;
	line-height: 45px;
	text-align: center;
}

.sidebar {
	float: left;
	height: 100vh;
	max-width: 10vw;
	padding: 0 2vw 0 2vw;
	background-color: rgba(232, 235, 239, 0.5);
}

.announcements {
	grid-area: announcements;
}
.calendar {
	grid-area: calendar;
}
.blog {
	grid-area: blog;
}
.listsignup {
	grid-area: listsignup;
}
