@import url('https://fonts.googleapis.com/css?family=Anton|Crimson+Text|Fira+Sans:100,400|Muli|Nunito|Playfair+Display:400,700|Cormorant+Unicase:700');

html {}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: white;
	text-shadow:
		-1px -1px 0 #ff9872,
		1px -1px 0 #ff9872,
		-1px 1px 0 #ff9872,
		1px 1px 0 #ff9872;
	font-weight: 400;
}

body {
	/* background-color: #e4f3f3; */
	line-height: 40px;
}

p, li {
	font-family: 'Muli', sans-serif;
	font-size: 12pt;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 20pt;
	letter-spacing: 2px;
}

h5, h5 a, h5 a:visited, h5 a:hover {
	font-family: 'Muli', sans-serif;
	font-weight: 600;
	font-size: 12pt;
}

#backdrop {
	margin: -2vh -0.42vw -2vh -0.42vw;
        padding: 0;
	background-size: cover;
}

#container {
	margin: -2vh -0.42vw -2vh -0.42vw;
	/* padding: 0 22px 0 22px; */
	background-color: rgba(255, 255, 255, 0.3);
}

#content-container {
	margin: 0;
	background-color: rgba(255, 255, 255, 0.4);
}

#splash {
	height: 15vh;
	display: flex;
}

h1#site-title {
	display: inline-block;
	margin: auto 0 2vh 15vw;
	font-family: 'Cormorant Unicase', serif;
	font-size: 8vh;
	letter-spacing: 0.2vw;
	color: white;
	text-shadow:
		-1px -1px 0 #666,
		1px -1px 0 #666,
		-1px 1px 0 #666,
		1px 1px 0 #666;
}

nav {
	text-align: right;
	margin: 0 0 3vh 0;
	padding: 0.0001vh 15vw 0 0;
	background-color: rgba(222, 225, 229, 0.5);
}

ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 0 0 0 1vw;
}

nav ul li a, nav ul li a:visited  {
}

nav ul li a:hover {
}

.separator {
	color: #ff9872;
}
.grid-container {
	height: 100%;
	display: grid;
	grid-template-areas:
		'about about'
		'announcements calendar'
		'blog blog'
		'listsignup listsignup';
	margin: 0 15vw 0 15vw;
}
	
.grid-container div {
	padding: 0 3vw 3vh 3vw;
	margin: 0;
	background-color: rgba(232, 235, 239, 0.5);
	border-color: #a3a3a3;
	border-style: none solid none solid;
	border-width: 1px;
}

div.about {
/*	margin: 0 7vw 10vh 7vw;
	padding: 0 7vw 0 7vw;
	min-width: 20vw;
*/	text-align: center;
	border-bottom-style: solid;
	margin: 0;
}

div.about p, div.about h3 {
}

div.about {
}

.about {
	grid-area: about;
}

.announcements {
	grid-area: announcements;
}

div.announcements {
}

.calendar {
	grid-area: calendar;
}

div.calendar {
}
.blog {
	grid-area: blog;
}

div.blog {
	border-style: solid;
}

div.blog h3 {
	text-align: center;
}

.listsignup {
	grid-area: listsignup;
}

div.listsignup {
        text-align: center;
}

form p {
	display: inline;
}

button {
	background-color: #ff9872;
	border-color: white;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
	color: white;
}
