<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta charset="utf-8">
    <title>St. John's Sodus</title>
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
#backdrop {
background-image: url('{{ backgroundimage.image.url }}');
}
    </style>
  </head>
  <body>
   <div id="backdrop">
   <div id="container">
     {% block content %}
     {% endblock content%}
   </div>
   </div>
  </body>
</html>
